@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html,
body,
#root {
    height: 100%;
    margin: 0;
    background: #0a0a0a;
    /* Forzo il browser mobile a non scalare o distorcere il layout */
    /* Ho notato che su telegram, il browser mobile integrato  il layout si distorceva */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.font-bebas {
    font-family: 'Bebas Neue', sans-serif;
}